---
title: Derby.IO Coming Soon!
---
#content
  .container
    .jumbotron
      %center
        %h1 Welcome to Derby.IO
        %h2 Home of derby-related applications
        %p Coming soon to a site near you!
        %p.a.btn.btn-primary.btn-lg.disabled= link_to 'Coming soon!', '#'
